{
  "_comment": "{{ autogen_comment }}",
{%- if textures.all %}
  "parent": "minecraft:block/cube_all",
  "textures": {
    "all": "{{ modid }}:block/{{ textures.all }}"
  }
{%- else %}
  "parent": "minecraft:block/cube",
  "textures": {
    "down": "{{ modid }}:block/{{ textures.down }}",
    "up": "{{ modid }}:block/{{ textures.up }}",
    "north": "{{ modid }}:block/{{ textures.north }}",
    "south": "{{ modid }}:block/{{ textures.south }}",
    "west": "{{ modid }}:block/{{ textures.west }}",
    "east": "{{ modid }}:block/{{ textures.east }}"
  }
{%- endif %}
}
