{
  "_comment": "{{ autogen_comment }}",
  "type": "minecraft:crafting_shapeless",
  "ingredients": {{ ingredients | tojson }},
  "result": {
    "id": "{{ modid }}:{{ result }}",
    "count": {{ count }}
  }
}
