{
  "_comment": "{{ autogen_comment }}",
  "type": "minecraft:crafting_shaped",
  "category": "misc",
  "pattern": {{ pattern | tojson }},
  "key": {{ key | tojson }},
  "result": {
    "id": "{{ modid }}:{{ result }}",
    "count": {{ count }}
  },
  "show_notification": true
}
