{
  "_comment": "{{ autogen_comment }}",
  "type": "minecraft:smelting",
  "ingredient": {{ ingredient | tojson }},
  "result": {
    "id": "{{ modid }}:{{ result }}"
  },
  "experience": {{ experience }},
  "cookingtime": {{ cooking_time }}
}
