{
  "_comment": "{{ autogen_comment }}"
{%- for sound in sounds %},
  "{{ sound.id }}": {
    "subtitle": "sound.{{ modid }}.{{ sound.id }}",
    "sounds": [
      "{{ modid }}:{{ sound.file }}"
    ]
  }
{%- endfor %}
}
