{
  "_comment": "{{ autogen_comment }}"
{%- for sound in sounds %},
  "{{ sound.id }}": {
    "category": "{{ sound.category }}",
    "sounds": [
      {
        "name": "{{ sound.file }}",
        "volume": {{ sound.volume }},
        "pitch": {{ sound.pitch }}
      }
    ]
  }
{%- endfor %}
}
