package {{ package }};

import net.minecraft.world.item.Item;
import net.minecraft.world.item.ItemStack;
import net.minecraft.world.entity.LivingEntity;
import net.minecraft.world.level.Level;

public class {{ class_name }} extends Item {
    
    public {{ class_name }}(Properties properties) {
        super(properties);
    }
    
    // TODO: Implement custom item behavior here
}
